body.gu-body {
	font-family: "Inter";
	color: #495057;
	font-weight: 400;
	font-size: 14px;
}

.gu-body input {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	color: #6c757d;
	resize: none;
}

.gu-body textarea {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	color: #6c757d;
	resize: none;
}

.gu-body ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #6c757d;
}

.gu-body ::-moz-placeholder {
	/* Firefox 19+ */
	color: #6c757d;
}

.gu-body :-ms-input-placeholder {
	/* IE 10+ */
	color: #6c757d;
}

.gu-body :-moz-placeholder {
	/* Firefox 18- */
	color: #6c757d;
}

.gu-body textarea:focus,
input:focus {
	outline: none;
}

.gu-text-64 {
	font-size: 64px;
	font-weight: 600;
	line-height: 42px;
	margin: 15px 0;
}

.gu-text-36 {
	font-size: 36px;
	font-weight: 600;
	line-height: 42px;
	margin: 10px 0;
}

.gu-text-32 {
	font-size: 32px;
	font-weight: 600;
	line-height: 42px;
}

.gu-text-18 {
	font-size: 18px;
	font-weight: 600;
	line-height: 42px;
}

.gu-text-28 {
	font-size: 28px;
	font-weight: 600;
	line-height: 42px;
}

.gu-text-24 {
	font-size: 18px;
	font-weight: 600;
	line-height: 42px;
}

.gu-text-16 {
	font-weight: 600;
	font-size: 16px;
}

.gu-text-14 {
	font-size: 14px;
}

.gu-font-w-700 {
	font-weight: 700;
}

.gu-text-link {
	font-size: 16px;
	font-weight: 600;
	color: #495057;
	text-decoration: underline;
}

.gu-text-color-red {
	color: #ff0000;
}

.gu__page-content p {
	max-width: 360px;
	padding: 10px;
}

.gu__card {
	min-width: 286px;
	padding: 20px 10px;
	margin: 10px;
}

.gu__card-gift {
	min-height: 290px;
}

.gu__card-border {
	border: 1px solid #64748b;
}

.gu__card-border-light {
	border: 1px solid #64748b;
}

.gu__card-border-primary {
	border: 1px solid #2563eb;
}

.gu__card-border-radius {
	border-radius: 6px;
}

.gu-button {
	border-radius: 6px;
	color: #fff;
	font-weight: 700;
	padding: 10px;
	border: none;
	cursor: pointer;
	display: block;
}

.gu-button__primary {
	background-color: #3b82f6;
}

.gu-button__primary-text {
	color: #3b82f6;
}

.gu-button__secondary {
	background-color: #64748b;
}

.gu-ml-10 {
	margin-left: 10px;
}

.gu-mr-25 {
	margin-right: 25px;
}

.gu-m-20 {
	margin: 20px;
}

.gu-mt-20 {
	margin-top: 20px;
}

.gu-mt-30 {
	margin-top: 20px;
}

.gu-mb-30 {
	margin-bottom: 30px;
}

.gu-d-flex {
	display: flex;
}

.gu-flex-jc-center {
	justify-content: center;
}

.gu-flex-ai-center {
	align-items: center;
}

.gu-flex-jc-sb {
	justify-content: space-between;
}

.gu-flex-jc-end {
	justify-content: end;
}

.gu-d-flex-row {
	flex-direction: row;
}

.gu-d-flex-column {
	flex-direction: column;
}

.gu-bg-white {
	background-color: #fff;
}

.gu-width-100 {
	width: 100%;
}

.gu__price {
	font-size: 20px;
	font-weight: 700;
	color: #3b82f6;
}

.gu-text-center {
	text-align: center;
}

.gu-row {
	content: "";
	clear: both;
	display: table;
	max-width: 1024px;
}

/* For mobile phones: */
[class*="gu-col-"] {
	float: left;
	width: 100%;
}

.gu__container-banner {
	position: relative;
}

.gu__container-banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 480px;
}

.gu__container-banner-img {
	height: 600px;
}

.gu-text-left {
	text-align: left;
}

.gu-p-0 {
	padding: 0px;
}

.gu-pr-0 {
	padding-right: 0px;
}

.gu-p-l-10 {
	padding-left: 10px;
}

.gu-p-10 {
	padding: 10px;
}

.gu-p-20 {
	padding: 20px;
}

.gu-p-x-10 {
	padding: 10px 0px;
}

.gu-min-width-80 {
	min-width: 80px;
}

.gu-position-relative {
	position: relative;
}

.gu__card.gu__card:hover .gu__card-backdrop {
	visibility: visible;
}

.gu__card-backdrop {
	visibility: hidden;
	position: absolute;
	background-color: #bfdbfe;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.gu-ai-center {
	align-items: center;
}

.gu-text-success {
	color: #1ea97c;
}

.gu-text-warning {
	color: #cc8925;
}

.gu-text-primary {
	color: #3b82f6;
}

.gu-divider {
	border-right: 1px solid;
	margin: 0 30px;
	opacity: 0.2;
}

@media only screen and (max-width: 600px) {
	.gu__container-banner-content {
		position: unset;
		transform: unset;
		background-color: #fff;
		padding: 20px;
	}

	.gu__container-banner-img {
		height: 200px;
	}

	.gu-d-flex-row-sm {
		flex-direction: row;
	}

	.gu-pl-30-sm {
		margin-left: 30px;
	}

	.gu-ai-center-sm {
		align-items: center;
	}

	.gu-text-left-sm {
		text-align: left;
	}

	.gu__container-banner-content {
		max-width: unset;
	}
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.gu-col-s-1 {
		width: 8.33%;
	}

	.gu-col-s-2 {
		width: 16.66%;
	}

	.gu-col-s-3 {
		width: 24%;
	}

	.gu-col-s-4 {
		width: 32%;
	}

	.gu-col-s-5 {
		width: 41.66%;
	}

	.gu-col-s-6 {
		width: 49%;
	}

	.gu-col-s-7 {
		width: 57.33%;
	}

	.gu-col-s-8 {
		width: 65.66%;
	}

	.gu-col-s-9 {
		width: 74%;
	}

	.gu-col-s-10 {
		width: 82.33%;
	}

	.gu-col-s-11 {
		width: 90.66%;
	}

	.gu-col-s-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.gu-col-md-1 {
		width: 8.33%;
	}

	.gu-col-md-2 {
		width: 16.66%;
	}

	.gu-col-md-3 {
		width: 25%;
	}

	.gu-col-md-4 {
		width: 32%;
	}

	.gu-col-md-5 {
		width: 41.66%;
	}

	.gu-col-md-6 {
		width: 49%;
	}

	.gu-col-md-7 {
		width: 58.33%;
	}

	.gu-col-md-8 {
		width: 66.66%;
	}

	.gu-col-md-9 {
		width: 75%;
	}

	.gu-col-md-10 {
		width: 83.33%;
	}

	.gu-col-md-11 {
		width: 91.66%;
	}

	.gu-col-md-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 1024px) {
	/* For desktop: */
	.gu-col-1 {
		width: 8.33%;
	}

	.gu-col-2 {
		width: 16.66%;
	}

	.gu-col-3 {
		width: 24%;
	}

	.gu-col-4 {
		width: 32%;
	}

	.gu-col-5 {
		width: 41.66%;
	}

	.gu-col-6 {
		width: 48%;
	}

	.gu-col-7 {
		width: 58.33%;
	}

	.gu-col-8 {
		width: 66.66%;
	}

	.gu-col-9 {
		width: 75%;
	}

	.gu-col-10 {
		width: 83.33%;
	}

	.gu-col-11 {
		width: 91.66%;
	}

	.gu-col-12 {
		width: 100%;
	}
}

details {
	max-width: 960px;
	margin: 1rem auto;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);

	&:not([open]) {
		animation-name: fold-in;
		animation-duration: 0.2s;
	}

	summary {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		padding: 1.5rem;
	}

	summary::-webkit-details-marker,
	summary::marker {
		content: "";
		display: none;
	}

	summary::after {
		content: "+";
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1;
		margin-right: 1rem;
		cursor: pointer;
	}

	.content {
		padding: 0 1.5rem 1.5rem;
	}
}

details[open] {
	summary::after {
		content: "−";
	}

	.content {
		animation-name: fold-out;
		animation-duration: 0.2s;
	}
}

@keyframes fold-out {
	0% {
		opacity: 0;
		margin-top: -1rem;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}

@keyframes fold-in {
	0% {
		padding-bottom: 1rem;
	}

	100% {
		padding-bottom: 0;
	}
}

/*
 CSS for the main interaction
*/

.accordionTitle {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #f8f9fa;
	padding: 15px;
	border-radius: 6px;
}

.accordionTitle + .accordionContent {
	display: none;
}

.accordionContent {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.accordionTitle i {
	margin-right: 10px;
	transition: transform 0.2s ease-in-out;
}
.accordionContent > span {
	padding-left: 15px;
}

.accordionTitle.is-open + .accordionContent {
	display: block;
}

.accordionTitle.is-open i {
	transform: rotate(90deg);
}

.gu-progress-bar {
	width: 100%;
	background-color: #dee2e6;
	border-radius: 3px;
	height: 6px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.gu-progress-bar-fill {
	display: block;
	height: 6px;
	background-color: #3b82f6;
	border-radius: 3px;
	transition: width 500ms ease-in-out;
}

table {
	border-collapse: collapse;
	margin: 20px 0 40px 0;
	width: 100%;
}

th,
td {
	border-bottom: 1px solid #dee2e6;
	padding: 8px;
	text-align: left;
	position: relative;
	height: 50px;
}

th {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #f5f5f5;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	text-align: left;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	width: 80%;
	border-radius: 6px;
	position: relative;
}

.gu-modal-icon-close {
	color: #aaaaaa;
	font-size: 28px;
	right: 20px;
	position: absolute;
	top: 10px;
}

.gu-modal-close:hover,
.gu-modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.gu-modal-close.button {
	width: fit-content;
}


.gu-width-fit-content {
	width: fit-content;
}
